@font-face {
    font-family: StarWars;
    src: url(font/HFForce.ttf);
}

*{
    box-sizing: border-box;

}

h1{
    color: blueviolet;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 72px;
    text-align: center;
    font-family: StarWars;
}

h2{
    color: white;
    background-color: black;
    z-index: 9;
}

#imgHeader{
    line-height: 200px;
    height: 200px;
    width: 100%;
    background:url(imagens/Blackeyegalaxy.jpg) no-repeat center center/cover;
    /* shorthand */
}


#nav{
    margin: 0 auto 0 auto;
    width: 508px;
    border: 1px solid red;
}

#paragraphLink{
    text-align: center;
}

span{
    color: rgb(255, 0, 0);
}

#galaxy{
    text-align: center;
    display: block;
}


a{/* display inline = nao recebe por prop de width e height  */
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    width: 250px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;

}

a:hover{
    color: dodgerblue;
    background-color: white;
    outline: 2px solid dodgerblue;
    
}



